
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ECF6F8, #FEEAA1);
}


header {
    background: #18535F;
    color: white;
   
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav{
    padding: 20px;

}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background: #ECF6F8;
}


.centered-image {
    text-align: center;
    margin: 30px 0;
}


section {
    padding: 30px;
}


footer {
    text-align: center;
    padding: 10px;
    background: #18535F;
    color: #fff;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}


h1, h2 {
    margin-bottom: 20px;
    color: #18535F;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.header-animation {
    animation: fadeIn 1s ease-in-out;
}

.section-animation {
    animation: fadeIn 1s ease-in-out;
}

.footer-animation {
    animation: fadeIn 1s ease-in-out;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }

  #scrollToTopBtn:hover {
    background-color: #0056b3;
  }